@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <canvas id="gameCanvas" width="800" height="600" style="border: 1px solid black;" tabindex="1"></canvas>
    <div id="joinControls">
        <input type="text" name="playerName" id="playerName" placeholder="player name" />
        <button id="joinGameButton" onclick="joinGame()" disabled="disabled">Join game</button>
    </div>
</div>
<script src="js/signalr.js"></script>
<script src="js/mmo.js"></script>
